.login {
    color: var(--white-color);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.78),
        rgba(0, 0, 0, 0.78)), 
        url("../../assets/background/background_login.jpg");
    background-size: cover;
    animation: fadeIn linear 0.4s;
}

.login-wrapper {
    max-width: 90%;
    width: 300px;
    background-color: var(--bg-color2);
    padding: 40px;
    border-radius: 6px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 4rem;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 100%;
    outline: none;
    border: none;
    color: var(--input-color);
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.login button { 
    font-size: 1.4rem;
    font-weight: 600;
    height: 38px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    margin-bottom: 10px;
}

.login-btn {
    width: 100%;
    background-color: var(--main-color);
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: var(--main-color-hover);
}

.login-forgot-password {
    display: inline-block !important;
    width: auto;
    color: var(--text-color1);
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.2s;
}

.login-forgot-password:hover {
    color: var(--main-color);
}

.login-divide {
    border-top: 1px solid #4a4a4a;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-divide > span {
    display: block;
    position: absolute;
    background-color: var(--bg-color2);
    color: var(--text-color1);
    font-size: 1.4rem;
    padding: 0 4px;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.facebook-btn {
    background-color: rgb(59, 89, 152);
    transition: background-color 0.2s;
}

.facebook-btn:hover {
    background-color: rgb(31, 70, 150);
}

.google-btn {
    background-color: rgb(221, 75, 57);
    transition: background-color 0.2s;
}

.google-btn:hover {
    background-color: rgb(221, 46, 24);
}

.login-register {
    text-align: center;
    font-size: 1.4rem;
    color: #9b9b9b;
    margin-top: 12px;
}

.login-register span {
    color: var(--text-color1);
    text-decoration: none;
    margin-left: 4px;
    transition: color 0.2s;
    cursor: pointer;
}

.login-register span:hover {
    color: var(--main-color);
}

