.home-slider {
    width: 100%;
    margin-bottom: 32px;
    position: relative;
    margin-top: -80px;
}

.home-slider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

.home-slider__list { 
    overflow: hidden;
}

.home-slider__list .slick-slide.slick-active {
    z-index: 1;
}

.home-slider__list .slick-dots {
    z-index: 2;
    bottom: 30px;
}

.home-slider__list .slick-dots li {
    width: auto;
    height: 2px;
}

.home-slider__list .slick-dots button {
    width: 40px;
    height: 4px;
    margin: 0 4px;
    position: relative;
    padding: 0;
}

.home-slider__list .slick-dots button::before {
    content: "";
    line-height: unset;
    background-color: var(--white-color) !important;
    opacity: 0.25 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-slider__list .slick-dots .slick-active button::before {
    background-color: var(--main-color) !important;
    opacity: 1 !important;
}

.home-slider__list .slick-arrow {
    display: flex;
    align-items: center;
    width: 40px;
    height: 80px;
    z-index: 999;
    opacity: 0.5;
    border-radius: 4px;
    transition: all ease 0.2s;
}

.home-slider__list .slick-arrow:hover {
    opacity: 0.8;
}

.home-slider__list .slick-arrow::before {
    display: none;
}

.home-slider__list .slick-arrow i {
    font-size: 32px;
    color: white;
}

.home-slider__list .slick-prev {
    justify-content: flex-start;
    left: 5px;
    background: linear-gradient(to right, var(--main-color), transparent);
}

.home-slider__list .slick-prev i {
    margin-left: 6px;
}

.home-slider__list .slick-next {
    justify-content: flex-end;
    right: 5px;
    background: linear-gradient(to left, var(--main-color), transparent);
}

.home-slider__list .slick-next i {
    margin-right: 6px;
}


/* @media (hover: hover) {
    .home-slider__list .slick-dots button:hover::before {
        background-color: #fff !important;
    }
} */